.stories-container{
    margin: 0 70px;
}
.stories-fa{
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    padding: 50px
}
.stories-cover{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.stories-image{
    width: 350px;
    height: 245px;
    object-fit: cover;
}
.stories-title{
    font-size: 24px;
    width: 350px;
    margin: 20px 0;

}
.stories-desc{
    width: 350px;
    font-size: 12px;
    color: #868080;
    
}
.story-nav{
    text-decoration: none;
}
