body {
  margin: 0;
  font-family: "Courier 10 Pitch", "Courier 10 Pitch Bold" !important; 
  
  background-color: #FCF9EE  !important;
  font-size: 62.5%;
  
}
@font-face {
    font-family: F16;
    src: url("../public/Sneak-Regular.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

.brand-page{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10rem;
}
